.-s_title {
	color: #99efd0;
	font-family: Inter;
	font-weight: 600;
	font-style: normal;
	letter-spacing: -1.7px;

	&_about_us {
		font-size: 44px;
		line-height: 50px;
		text-align: left;
		margin-bottom: 20px;
	}

	&_choice {
		font-size: 42px;
		line-height: 50px;
		text-align: center;
		margin-bottom: 10px;
	}

	&_increase {
		font-size: 42px;
		line-height: 50px;
		text-align: left;
		padding-top: 52px;

		& span {
			color: #f2994a;
		}
	}

	&_ways {
		font-size: 36px;
		line-height: 42px;
		text-align: center;
		text-transform: capitalize;
		letter-spacing: -1px;

		& span {
			color: #f2994a;
		}
	}
}


.-s_subtitle {
	color: #8476aa;
	font-family: "Gilroy";
	font-size: 18px;
	font-weight: 600;

	&_about_us {
		line-height: 22px;
		text-align: left;
		margin-bottom: 40px;
	}

	&_choice {
		font-size: 16px;
		font-weight: 400;
		line-height: 22px;
		text-align: center;
		margin-bottom: 53px;

		&_bottom {
			font-family: "Gilroy";
			color: #8476aa;
			font-size: 14px;
			font-weight: 600;
			line-height: 22px;

		}
	}

	&_increase {
		font-size: 15px;
		font-weight: 400;
		letter-spacing: 0.5px;
		line-height: 28px;
		text-align: left;
		padding: 33px 0 44px 0;
	}

	&_ways {
		font-size: 15px;
		font-weight: 400;
		letter-spacing: 0.2px;
		line-height: 20px;
		text-align: center;
	}
}

.-s_title_l2 {
	color: #99efd0;
	font-family: "Gilroy";
	font-size: 18px;
	font-weight: 700;

	&_choice {
		line-height: 22px;
		text-align: left;
		margin-bottom: 10px;
	}
}

.-s_subtitle_l2 {}

.-s_subtitle_rubik {
	color: #8476aa;
	font-family: Rubik;
	font-size: 16px;
	font-weight: 400;

	&_about {
		line-height: 22px;
		text-align: left;
		margin-top: 3px;
	}
}

.-s_text_rubik {
	color: #6d6d78;
	font-family: Rubik;
	font-size: 14px;
	font-weight: 400;

	&_about {
		line-height: 22px;
		text-align: left;
		margin-top: 8px;
	}
}