.ways {
	padding: 64px 51px 64px 50px;

	&__top {
		padding-bottom: 46px;
	}

	&__bottom {
		display: flex;
		justify-content: space-between;

		&__item {
			max-width: 305px;
			padding: 0 20px;

			&:first-of-type {
				max-width: 195px;
				padding-left: 16px;
			}

			&:last-of-type {
				max-width: 220px;
				padding-right: 10px;
			}
		}
	}
}