@import "./fonts";
@import "./nullstyle";

body {
	color: #b5b5b5;
	background-color: #121147;
}

.container {
	max-width: 1120px;
	margin: 0 auto;
	padding: 0 10px;
}

.header {
	background-image: url(../img/);
}

.header__group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 79px 0;

	&__ls {
		display: flex;
		align-items: center;
	}
}

.logo {
	width: 36px;
	height: 36px;

	margin-right: 33px;
}

.nav {
	&__group {
		display: flex;
	}

	&__item {
		padding: 0 11px;
	}

	&__text {
		color: #b5b5b5;
		font-family: "Gilroy";
		font-size: 12px;
		font-weight: 600;
		font-style: normal;
		letter-spacing: 2px;
		line-height: 20px;
		text-transform: uppercase;
	}
}

.button {
	border-radius: 4px;
	padding: 8px 27px;
	color: #ffffff;
	font-family: Rubik;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 2px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;

	&-border {
		background-color: rgba(0, 0, 0, 0);
		border: 1px solid #f2994a;
		color: #f2994a;

		&__about-us {
			padding: 13px 57px;
		}
	}

	&-filled {
		background-color: #f2994a;
		padding: 8px 27px;
		box-shadow: -11px 18px 37px rgba(242, 153, 74, 0.13);

		&__header {
			margin-left: 20px;
		}

		&__about-us {
			padding: 13px 30px;
			margin-right: 16px;
		}
	}
}

.about {
	padding: 56px 0;

	&-us {
		display: flex;

		&__group {
			display: flex;
			flex: 1 1 50%;
			flex-direction: column;
			padding-left: 5px;

			&_inner {
				margin-top: 58px;
				display: flex;

				&_video {
					height: 80px;
					width: 140px;
				}

				&_other {
					margin-left: 20px;
				}
			}
		}

		&__photo {
			display: flex;
			flex: 1 1 50%;
		}
	}

	&-companys {
		display: flex;
		justify-content: space-between;
		padding: 106px 60px 0 60px;
	}
}

.companys-item {
	opacity: 0.3;
}


.-s_title {
	color: #99efd0;
	font-family: Inter;
	font-weight: 700;
	font-style: normal;

	&_about_us {
		font-size: 44px;
		line-height: 50px;
		text-align: left;
		letter-spacing: -1.7px;
		margin-bottom: 20px;
	}

	&_choice {
		font-size: 42px;
		line-height: 50px;
		text-align: center;
		letter-spacing: -1.7px;
		margin-bottom: 10px;
	}
}

.-s_subtitle {
	color: #8476aa;
	font-family: "Gilroy";
	font-size: 18px;
	font-weight: 600;

	&_about_us {
		line-height: 22px;
		text-align: left;
		margin-bottom: 40px;
	}

	&_choice {
		font-size: 16px;
		font-weight: 400;
		line-height: 22px;
		text-align: center;
		margin-bottom: 53px;

		&_bottom {
			font-family: "Gilroy";
			color: #8476aa;
			font-size: 14px;
			font-weight: 600;
			line-height: 22px;

		}
	}
}

.-s_title_l2 {
	color: #99efd0;
	font-family: "Gilroy";
	font-size: 18px;
	font-weight: 700;

	&_choice {
		line-height: 22px;
		text-align: left;
		margin-bottom: 10px;
	}
}

.-s_subtitle_l2 {}

.-s_subtitle_rubik {
	color: #8476aa;
	font-family: Rubik;
	font-size: 16px;
	font-weight: 400;

	&_about {
		line-height: 22px;
		text-align: left;
		margin-top: 3px;
	}
}

.-s_text_rubik {
	color: #6d6d78;
	font-family: Rubik;
	font-size: 14px;
	font-weight: 400;

	&_about {
		line-height: 22px;
		text-align: left;
		margin-top: 8px;
	}
}


.choice {
	padding: 45px 0;

	&__top {
		padding-left: 68px;
	}

	&__bottom {

		&__icon {
			min-width: 24px;
			min-height: 24px;
		}

		&__text {
			padding: 0 45px 0 30px;
		}
	}

	&_grid-body {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		row-gap: 40px;

		padding-left: 55px;
	}

	&_grid-item {
		display: flex;
	}

}