@import "./fonts";
@import "./nullstyle";

body {
	color: #b5b5b5;
	background-color: #121147;
}

.container {
	max-width: 1120px;
	margin: 0 auto;
	padding: 0 10px;
}


@import "-header.scss";



@import "-button";

@import "-titles.scss";



@import "-about.scss";

@import "-choice.scss";

@import "-increase.scss";

@import ".-ways.scss";